<div class="container">
  <div class="profile-header row">
    <div class="col-md-2 left">
      <img ng-src="{{ userInfo.thumbnail }}"></img>
    </div>
    <div class="col-md-6 middle">
      <p class="full-name">{{ userInfo.fullName }}</p>
      <p class="username">{{ userInfo.username }}</p>
    </div>
    <div class="col-md-4 right">
      <p class="member-since">Member since {{ userInfo.memberSince }}</p>
    </div>
  </div>

  <div class="tabs profile-stats row">
    <div class="col-md-2"></div>
    <div class="tab likes col-md-2">
      <a>4 Likes</a>
    </div>
    <div class="tab posts col-md-2">
      <a>2 Posts</a>
    </div>
    <div class="tab followers col-md-2">
      <a>20 Followers</a>
    </div>
    <div class="tab following col-md-2">
      <a>123 Following</a>
    </div>
    <div class="col-md-2"></div>
  </div>

  <div class="profile-posts">
    <div class="profile-post-item row">
      <div class="col-md-1 post-votes">
        <p class="caret-up"><i class="fa fa-caret-up"></i></p>
        <p class="vote-count">34</p>
        <p class="post-thumbnail"><img src="dist/assets/images/42156/profile_pict_001_circle.png"></img></p>
      </div>
      <div class="col-md-4 post-picture">
        <img src="dist/assets/images/field_panorama_stock_5_by_f3rd4-d45kgfp.jpg"></img>
      </div>
      <div class="col-md-7 post-info">
        <h3>Baby Monitor Technology</h3>
        <p>Description for baby monitor tech</p>
        <div class="post-info-footer">
          <a>2 comments</a>
          <div class="post-tags">
            <a>TECH</a>
            <a>BABY</a>
          </div>
        </div>
      </div>
    </div>
    <div class="profile-post-item row">
      <div class="col-md-1 post-votes">
        <p class="caret-up"><i class="fa fa-caret-up"></i></p>
        <p class="vote-count">34</p>
        <p class="post-thumbnail"><img src="dist/assets/images/profile_pict_001_circle.png"></img></p>
      </div>
      <div class="col-md-4 post-picture">
        <img src="dist/assets/images/field_panorama_stock_5_by_f3rd4-d45kgfp.jpg"></img>
      </div>
      <div class="col-md-7 post-info">
        <h3>Baby Monitor Technology</h3>
        <p>Description for baby monitor tech</p>
        <div class="post-info-footer">
          <a>2 comments</a>
          <div class="post-tags">
            <a>TECH</a>
            <a>BABY</a>
          </div>
        </div>
      </div>
    </div>
    <div class="profile-post-item row">
      <div class="col-md-1 post-votes">
        <p class="caret-up"><i class="fa fa-caret-up"></i></p>
        <p class="vote-count">34</p>
        <p class="post-thumbnail"><img src="dist/assets/images/profile_pict_001_circle.png"></img></p>
      </div>
      <div class="col-md-4 post-picture">
        <img src="dist/assets/images/field_panorama_stock_5_by_f3rd4-d45kgfp.jpg"></img>
      </div>
      <div class="col-md-7 post-info">
        <h3>Baby Monitor Technology</h3>
        <p>Description for baby monitor tech</p>
        <div class="post-info-footer">
          <a>2 comments</a>
          <div class="post-tags">
            <a>TECH</a>
            <a>BABY</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
