/* http://stackoverflow.com/questions/10387740/five-equal-columns-in-twitter-bootstrap/22799354#22799354 */
.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}

.main-view {
    margin-top: 50px;
}

.main-navbar .navbar-brand {
    padding: 0;
}

.main-navbar .container-fluid {
    padding-left: 200px;
    padding-right: 200px;
}

.main-navbar img {
    height: 50px;
}

.main-navbar .new-post {
    margin: 8px;
}

.row {
    padding: 0 100px;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.big-bottom-btn {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.big-bottom-btn button {
    padding: 20px 50px;
    font-size: 20px;
    border-radius: 50px;
    border: 3px solid #1789FB;
    background-color: #fff;
    color: #1789FB;
    font-weight: 500;
}